.idea
lesson_2/.ipynb_checkpoints
lesson_3/.ipynb_checkpoints
Прикладное машинное обучение с помощью scikit-learn и tensorflow ( PDFDrive ).pdf
(3) Стюарт Рассел, Питер Норвиг - Искусственный интеллект. Современный подход. Обучение, восприятие и действие-Диалектика (2022).pdf
(2) Стюарт Рассел, Питер Норвиг - Искусственный интеллект. Современный подход. Знания и рассуждения в условиях неопределенности-Диалектика (2022).pdf
(1) Стюарт Рассел, Питер Норвиг - Искусственный интеллект. Современный подход. Решение проблем_ знания и рассуждения-Диалектика (2022).pdf
lesson_1
lesson_2/NumPy.ipynb
lesson_2/Линейная алгебра_ Матрицы.ppt
lesson_2/Вектора.ppt